<p>
  <strong><%= comment.commenter %></strong> <em>commented</em> <%= comment.body %>
  <small>
    <%= link_to 'Destroy this comment', [comment.article, comment],
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %>
  </small>
</p>