<div class="container">
  <% unless notice.nil? || notice.empty? %>
  <div class="alert alert-info alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <%= notice %>
  </div>
  <% end %>

  <h1>Cang Ta's Prework Assignment</h1>

  <%= render @articles %>

  <br>

  <%= link_to 'New Article', new_article_path %>
</div>